<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AquaDash</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">

   <img class="title" style="height:auto; width:35%;" src="/static/img/AQUADASH2.png"></img>

    </div>
        <table>
        <tbody id ="pool">
           
        
        </tbody>
        </table>

    <div class="container">

        <img src="/static/img/startrace.png" style="height:auto; width:25%;" id="startRace" onclick="startRace()"></img>

        <img src="/static/img/reset.png" style="height:auto; width:15%;" id="createRacer" onclick="resetElements()"></img>
    </div>

    <div class="container">

        <select name="default" id="default">
            <option value="Sarah Sjöström">Sarah Sjöström Womens 100m 2024 Winner</option>
            <option value="Zhanle Pan">Zhanle Pan Mens 100m world rec</option>
            <option value="Caeleb Dressel">Caeleb Dressel Mens 100m </option>
            <option value="Emma Mckeon">Emma Mckeon Womens 100m world rec </option>
            <option value="stone">Stone ("if you wait long enough it might move")</option>
            <option value="Yellowfin">Yellowfin</option>
            <option value="SwordFish">SwordFish</option>
            <option value="turtle">turtle</option>
            <option value="Sidewinder Snake">Sidewinder Snake</option>
            <option value="Basilisk lizard">Basilisk lizards (running on water)</option>
            <option value="Sunflower Sea Star">Sunflower Sea Star</option>
            <option value="U.S. Masters Average">U.S. Masters Average Swim Time</option>

        </select>
        <img src="/static/img/add.png" style="height:auto; width:4%;" onclick="createRacer(document.getElementById('default').value)"></img>
        <img src="/static/img/sub.png" style="height:auto; width:4%;"  onclick="removeElements()"></img>
    </div>

    <br>
    <br>


    <div id ='heat' class="hContainer">
        

    </div>
    <div class="c">
        <a href="https://terrelldavis1224.github.io/" target="_blank">
            <img src="/static/img/MyWebsite.png" alt="My Website" style="height:auto; width:25%;">
        </a>
    </div>
   
</body>

<script>
    var imageUrls = {
        "Zhanle Pan": "{{ url_for('static', filename='img/man.png') }}",
        "Caeleb Dressel":"{{ url_for('static', filename='img/man.png') }}",
        "Sarah Sjöström": "{{ url_for('static', filename='img/woman.png') }}",
        "Emma Mckeon": "{{ url_for('static', filename='img/woman.png') }}",
        "Yellowfin": "{{ url_for('static', filename='img/Yellowfin.png') }}",
        "SwordFish": "{{ url_for('static', filename='img/SwordFish.png') }}",
        "stone": "{{ url_for('static', filename='img/stone.png') }}",      
        "turtle": "{{ url_for('static', filename='img/turtle.png') }}",
        "Sidewinder Snake": "{{ url_for('static',filename = 'img/snake.png')}}",
        "Basilisk lizard": "{{ url_for('static',filename = 'img/lizard.png')}}",
        "Sunflower Sea Star": "{{ url_for('static',filename = 'img/starfish.png')}}",
        "U.S. Masters Average": "{{ url_for('static',filename = 'img/man.png')}}"
    };
</script>

<script src="{{ url_for('static', filename='js/Race.js') }}"></script>

</html>